body{
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

header{
    padding: 20px;
    text-align: center;
}
p{
    text-align: center;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

body.dark-mode{
    background-color: #121212;
    color: #e0e0e0;
}

button.dark-mode{
    background-color: #333;
    color: #e0e0e0;
    border: none;
}